.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  
}

.full-content {
  position: relative;
  display: flex;
  max-width: 1200px;
  z-index: 1;
  gap: 1.5em;
  margin-top: 40px;
  margin-bottom: 200px;
}

.full-content .post-content {
  width: 78%;
  padding-left: 3rem;
}

@media screen and (max-width: 1000px) {
 
  .full-content {
    width: 100%;
    margin-top: 1rem;
  }
  .full-content .post-content {
   padding: 0;
  }

  .full-content section {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }
}


