.menu-btn {
  background-color: transparent;
  height: 42px;
  width: 42px;
  border: none;
  display: none;
  margin: 2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
    position: relative;
  }
  .menu-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
  }
  .menu-icon:hover {
    opacity: 0.7;
  }
  .menu-icon.bars.hidden {
    transform: rotate(90deg);
    opacity: 0;
  }

  .menu-icon.X.hidden {
    border: none;
    transform: rotate(-90deg);
    opacity: 0;
  }
}
