.navbar {
  position: sticky;
  top: 0px;
  height: 80px;
  width: 100vw;
  z-index: 5;
  background-color: var(--color-background);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.navbar-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
