.container-slide-post {
  width: 90%;
}

.slide-post {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slide-post::-webkit-scrollbar {
  width: 4px;
}

.slide-post::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 20px;
  height: 4px;
}

.slide-post .item-post {
  width: 300px;
  padding: 1rem;
  position: relative;
}

.slide-post .image-item-post {
  width: 100%;
  border-radius: 20px;
}

.slide-post .container-text {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slide-post .container-text > h4 {
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
}
