.container-tags {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.container-tag {
  display: inline-block;
}

.container-tag p {
  color: --text-color;
  opacity: 0.7;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
